USE [IT Company-]
GO
/****** Object:  UserDefinedFunction [dbo].[ValidateEmailFormat]    Script Date: 04.12.2024 14:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER function [dbo].[ValidateEmailFormat] (@Email nvarchar(255))
returns bit 
as 
begin 
    if @Email like '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
	and charindex('@', @Email) = charindex('@', reverse(@Email))-- also allows only one @
	and len(@Email) >= 3
	     return 1;
    return 0;
end;
