USE [IT Company-]
GO
/****** Object:  StoredProcedure [dbo].[AllocateResourceToProject]    Script Date: 04.12.2024 15:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[AllocateResourceToProject]
  @ProjectID int,
  @ResourceID int
as
begin
    set nocount on;

	if exists (select 1 from Resources where ResourceID = @ResourceID and Quantity > 0)
    begin -- decrease the resource quantity
      update Resources
      set Quantity = Quantity - 1
      where ResourceID = @ResourceID;
	  -- insert into Resource_Distribution using the new auto-incremented ID
      insert into Resource_Distribution(DistributionDate, ResourceID, TeamID, ProjectID)
      values (getdate(), @ResourceID, null, @ProjectID);
	  if @@ROWCOUNT > 0
          print 'Resource allocated successfully';
	  else 
	      print 'Failed to allocate resource';
	end 
	else
	begin
	  print 'Resource not availabe';
	end
end;

